# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

# # Work around https://youtrack.jetbrains.com/issue/IDEA-116898
# gradle/wrapper/gradle-wrapper.properties
.idea/workspace.xml




# Java and Gradle #
############
build/
.gradle/
allure-results/

# Compiled source #
############
*.com
*.class
*.dll
*.exe
*.o
*.so


# Packages #
############
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip

#IDE metadata
.idea/
*.iml
*.class
out/
